main {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  width: 100vw;
}

div.bar {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  position: sticky;
  padding-top: 20px;
  top: 0;
}

div.xd {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.xd > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: var(--secondary-color);
  border-radius: 12px;
  font-size: 1.2rem;
}

div.bar > div.left {
  display: flex;
  gap: 10px;
  font-weight: 500;
}

#light {
  color: var(--light-gray);
}

div.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 20px;
  background: var(--secondary-color);
  font-size: 0.9rem;
  width: 150px;
  color: var(--light-gray);
}

header {
  display: flex;
  margin-bottom: auto;
  padding-block: 40px;
  gap: 15px;
  font-size: 1.5rem;
  align-items: center;
}

header > img {
  width: 35px;
  height: 35px;
}

div.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

div.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  flex-basis: 290px;
  background: var(--white);
  border-radius: 30px;
  padding: 20px 10px;
}

div.product > img {
  height: 200px;
  width: 200px;
}

div.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.product h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

div.product h3 {
  font-size: 2rem;
  color: rgb(239, 207, 0);
  font-weight: 500;
}

div.product span {
  color: var(--light-gray);
  padding-bottom: 1rem;
  padding-top: 0.2rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  nav {
    min-width: none;
  }

  li > span {
    display: none;
  }

  div.logo > span {
    display: none;
  }

  div.user * {
    display: none;
  }

  #idk {
    display: none;
  }
}
