main {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  width: 100vw;
}

div.bar {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
}

div.xd {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.xd > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: var(--secondary-color);
  border-radius: 12px;
  font-size: 1.2rem;
}

div.bar > div.left {
  display: flex;
  gap: 10px;
  font-weight: 500;
}

#light {
  color: var(--light-gray);
}

div.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 20px;
  background: var(--secondary-color);
  font-size: 0.9rem;
  width: 150px;
  color: var(--light-gray);
}

header {
  display: flex;
  margin-bottom: auto;
  padding-block: 40px;
  gap: 15px;
  font-size: 1.5rem;
  align-items: center;
}

header > img {
  width: 35px;
  height: 35px;
}
