body {
  font-family: "Roboto", "sans-serif";
  background: var(--primary-color);
  display: flex;
}

:root {
  --primary-color: #f9f9f9;
  --light-gray: #909090;
  --white: #ffffff;
  --secondary-color: #e3e3e3;
}

ul {
  list-style: none;
}

ul img {
  height: 25px;
  width: 25px;
}
